<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <script src="{% static 'main/js/login.js' %}"></script>
    <script>
      const BOOK_COUNT_RESULT = JSON.parse('{{ range_list|safe }}');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024 SSU 데이터톤</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    >
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="main">
        <div class="information-container">
          <div class="information-box">
            <div class="information-table">
                <div class="text-location">4층인문</div>
                <div class="text-count">{{ f4_count|intcomma }} 권</div>
            </div>
            <div class="information-table">
                <div class="text-location">보존서고</div>
                <div class="text-count">{{ b1_count|intcomma }} 권</div>
            </div>
          </div>
          <div class="chart-container">
            <div class="chart-info">
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="000">000</span>
                <div class="chart-info-text">&nbsp;&nbsp;총류</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="100">100</span>
                <div class="chart-info-text">&nbsp;&nbsp;철학</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="200">200</span>
                <div class="chart-info-text">&nbsp;&nbsp;종교</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="300">300</span>
                <div class="chart-info-text">&nbsp;&nbsp;사회과학</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="400">400</span>
                <div class="chart-info-text">&nbsp;&nbsp;자연과학</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="500">500</span>
                <div class="chart-info-text">&nbsp;&nbsp;기술과학</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="600">600</span>
                <div class="chart-info-text">&nbsp;&nbsp;예술</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="700">700</span>
                <div class="chart-info-text">&nbsp;&nbsp;언어</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="800">800</span>
                <div class="chart-info-text">&nbsp;&nbsp;문학</div>
              </div>
              <div class="chart-info-text-box">
                <span class="square-tag" data-code="900">900</span>
                <div class="chart-info-text">&nbsp;&nbsp;역사</div>
              </div>
            </div>
            <div class="chart-box">
              <canvas class="myChart" id="myChart"></canvas>
            </div>
          </div>
        </div>
        <div class="login-container">
          <div class="login-title">
            HARD<br />CODING
          </div>
          <div class="login-form">
            <h2 class="login-text">Login</h2>
            <form method="POST">
              {% csrf_token %}
              <div class="form-field">
                <input type="text" id="username" name="username" required autocomplete="off"  placeholder=""/>
                <label for="username">Username</label>
              </div>
              <div class="form-field">
                <input type="password" id="password" name="password" required autocomplete="off" placeholder=""/>
                <label for="password">Password</label>
              </div>
              <div class="text-right mt-4">
                <button type="submit" class="login-btn" >
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                  </svg>
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
