<!-- 데이터 관리 - 대출 정보 -->
{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/rent_set.css' %}">
<script src="{% static 'main/js/rent_set.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script>
    const FILEICON = "{% static 'main/images/file.svg' %}"
    const NEVIGATE = "{% static 'main/images/nevigate.svg' %}"
    const DOWNLOADRENT = "{% url 'download_rent_data' %}";
    const LOADRENTDATA = "{% url 'load_rent_data' %}";
    const LOADMAXPAGELEN = "{% url 'load_rent_max_page_len' %}";
    const ARROW = "{% static 'main/images/navigate.svg' %}";
    const SAVERENTFILE = "{% url 'save_rent_file' %}";
</script>
{% endblock %}

{% block title %}데이터 관리 - 대출 정보{% endblock %}

{% block content %}
<div class="container">
    <!-- 도서현황 그래프 -->
    <div class="content-container">
        <div class="content-box">
            <div class="Ctabs">
                <div class="content-tab">대출정보</div>
            </div>
            <div class="option-container">
                <div class="option-box" id="uploadBtn">
                    <div class="option-img">
                        <img src="{% static 'main/images/upload.svg' %}" alt="데이터 가져오기" class="option-icon">
                    </div>
                    <div class="option-text">가져오기</div>
                </div>
                <div class="option-box" id="downloadBtn">
                    <div class="option-img">
                        <img src="{% static 'main/images/download.svg' %}" alt="데이터 내보내기" class="option-icon">
                    </div>
                    <div class="option-text">내보내기</div>
                </div>
                <div class="option-box dropdown-container" id="orderdropdownContainer">
                    <div class="option-img-order">
                        <img src="{% static 'main/images/list.svg' %}" class="option-icon">
                    </div>
                    <div class="option-text current-order">최신 순</div>
                    <div class="toggle-img">
                        <img src="{% static 'main/images/toggle.svg' %}" class="toggle-icon">
                    </div>
                    <!-- 드롭다운 메뉴 -->
                    <ul class="selection-menu hidden" id="orderDropdown">
                        <li class="dropdown-item" data-value="최신 순">
                            <div class="Rectangle45"></div>
                            <span> 최신 순 </span>
                        </li>
                        <li class="dropdown-item" data-value="오래된 순">
                            <div class="Rectangle45"></div>
                            <span> 오래된 순 </span>
                        </li>
                    </ul>
                </div>
                <div class="option-box dropdown-container" id="dropdownContainer">
                    <div class="option-img">
                        <img src="{% static 'main/images/toggle_info.svg' %}" class="option-icon">
                    </div>
                    <div class="option-text current-page-size">25</div>
                    <div class="toggle-img">
                        <img src="{% static 'main/images/toggle.svg' %}" class="toggle-icon">
                    </div>
                    <!-- 드롭다운 메뉴 -->
                    <ul class="selection-menu hidden" id="pageSizeDropdown">
                        <li class="dropdown-item" data-value="25">
                            <div class="Rectangle45"></div>
                            <span> 25 </span>
                        </li>
                        <li class="dropdown-item" data-value="50">
                            <div class="Rectangle45"></div>
                            <span> 50 </span>
                        </li>
                        <li class="dropdown-item" data-value="100">
                            <div class="Rectangle45"></div>
                            <span>100</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="noDataWrapper">
                <div class="icon-box" id="iconBox">
                    <img src="{% static 'main/images/book.svg' %}" alt="데이터 없음" class="icon">
                </div>
                <div class="no-data" id="noDataText">도서정보를 찾을 수 없습니다</div>
            </div>
            <div class="table-container">
                <table id="bookTable">
                    <thead>
                        <!-- 헤더 동적 생성 or 아래처럼 정적으로 생성할 수도 있음 -->
                    </thead>
                    <tbody>
                        <!-- 바디 동적 생성 -->
                    </tbody>
                </table>
            </div>
            <div id="paginationContainer" class="pagination-container"></div>
        </div>
    </div>

    <!-- (A) 가져오기 모달 -->
    <div id="uploadModal" class="custom-modal">
        <div class="modal-content">
            <button class="modal-close" id="uploadModalClose">
                <img src="{% static 'main/images/close.svg' %}" alt="닫기" class="close-icon" />
            </button>
            <div class="upload-section">
                <label class="section-title">
                    데이터 가져오기
                    <span class="required-marker">*</span>
                </label>
                <label for="fileInput" class="upload-file-label">
                    <span class="upload-file-text">파일 업로드 (*.csv, *.xls, *.xlsx)</span>
                    <img src="{% static 'main/images/file.svg' %}" alt="파일 업로드" class="upload-file-icon" />
                </label>
                <input type="file" id="fileInput" class="file-input" accept=".csv, .xls, .xlsx"/>
            </div>
            <div class="upload-section">
                <label class="section-title">
                    도서ID
                    <span class="required-marker">*</span>
                </label>
                <div class="dropdown-menu">
                    <select id="colSelectId" class="column-select">
                        <option value="">먼저 파일을 선택하세요</option>
                    </select>
                </div>
            </div>
            <div class="upload-section">
                <label class="section-title">
                    대출일시
                    <span class="required-marker">*</span>
                </label>
                <div class="dropdown-menu">
                    <select id="colSelectReg" class="column-select">
                        <option value="">먼저 파일을 선택하세요</option>
                    </select>
                </div>
            </div>
            <div class="button-group">
                <button class="save-btn">저장</button>
                <button class="cancel-btn">취소</button>
            </div>
        </div>
    </div>
    
    
    <!-- (B) 내보내기 모달 -->
    <div id="downloadModal" class="custom-modal">
        <div class="modal-content">
            <button class="modal-close" id="downloadModalClose">
                <img src="{% static 'main/images/close.svg' %}" alt="닫기" class="close-icon" />
            </button>
            <div class="modal-body">
                <div class="modal-icon">
                    <img src="{% static 'main/images/file.svg' %}" alt="파일 아이콘" class="file-icon" />
                </div>
                <div class="modal-text">
                    파일을 .csv 형식으로 내보내기
                </div>
                <div class="button-group-download">
                    <button id="confirmDownload" class="save-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}