<!-- 정보 - 도서 검색 -->
{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'main/css/search_info.css' %}">
<script src="{% static 'main/js/search_info.js' %}"></script>
<script>
    const SEARCH_AUTOCOMPLETE = "{% url 'autocomplete' %}";
    const SEARCH_BOOK = "{% url 'book_search' %}";
</script>
{% endblock %}

{% block title %}정보 - 도서검색{% endblock %}

{% block content %}
<div class="container">
    <!-- 도서현황 그래프 -->
    <div class="content-container">
        <div class="content-box">
            <div class="Ctabs">
                <!-- 대분류/중분류 탭 -->
                <div class="content-tab">도서검색</div>
            </div>
            <div class="search">
                <div class="search-button">
                    <div class="search-button-rectangle">
                        <div class="search-icon-container">
                            <img src="{% static 'main/images/menu.svg' %}" alt="처음으로" class="search-icon">
                        </div>
                    </div>
                </div>
                <div class="search-rectangle">
                    <!-- 도서명 입력 필드 -->
                    <label for="book-search-input" class="sr-only">도서명 검색</label>
                    <input
                        type="text"
                        id="book-search-input"
                        class="book-name-input"
                        placeholder="도서명을 입력하세요"
                        aria-label="도서명 검색"
                    >
                </div>
                <div class="search-button">
                    <div class="search-button-rectangle" id="on-search-button">
                        <div class="search-icon-container">
                            <img src="{% static 'main/images/book_search.svg' %}" alt="도서검색" class="search-icon">
                        </div>
                    </div>
                </div>
            </div>

            <div class="icon-box">
                <img src="{% static 'main/images/book.svg' %}" alt="데이터 없음" class="icon">
            </div>
            <!-- 선택된 데이터 없음 -->
            <div class="no-data" id="noDataText">도서정보를 찾을 수 없습니다</div>
            <canvas class="chart" id="myChart" style="display: none;"></canvas>
            <div class="table" id="myTable" style="display: none;"></div>
        </div>
    </div>
</div>
{% endblock content %}